.header .header-main .gnav div ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .header-main .gnav div ul li a em {
  font-size: 18px;
}

.mv-slider .item {
  display: block;
  position: relative;
  height: 600px;
}

.mv-slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mv-slider .item .item-text {
  color: var(--color4);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.mv-slider .item .item-text h2 {
  color: var(--color4);
  font-size: 42px;
}

.mv-slider .item .item-text h3 {
  color: var(--color4);
  font-size: 32px;
  margin-top: 18px;
}

.mv-slider .item .item-text p {
  color: var(--color4);
  font-size: 24px;
  padding: 32px 0;
}

.mv-slider .item .item-text a {
  font-size: 24px;
  color: var(--color4);
  background-color: var(--color7);
  padding: 6px 32px;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.mv-slider .item .item-text a:hover {
  background-color: var(--color1);
}

.footer {
  padding: 0;
}

@media only screen and (min-width: 1000px) {
  .sp-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 910px) {
  .gnav div ul li a em {
    display: none;
  }
}

.footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.util-footer{
  display: flex;
  justify-content: center;
	margin-bottom: 8px;
}

.util-footer li {
	margin: 0;
}

.util-footer li a {
	padding: 0 12px;
	border-right: 1px solid rgba(255,255,255,0.3);
	font-size: 14px;
	color: rgba(255,255,255,0.7);
}

.util-footer li a:hover {
	color: rgba(255,255,255,1.0);
}

.util-footer li:last-child a {
	border-right: none;
}

.footer .copyright .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: var(--color4);
  height: 20px;
  width: 100%;
}

.footer .copyright .info li a i {
  font-size: 20px;
}

.footer .copyright .info li {
  margin: 0 20px;
}

body.strength main .overview {
  padding: 50px 0;
}

@media only screen and (max-width: 767px) {
  body.strength main .overview {
    padding: 58px 0 110px;
  }
}

body.strength main .overview .cont {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  body.strength main .overview .cont {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  body.strength main .overview .cont .sec-title:after, body.about body.index main .overview .cont .top-sec-title:after, body.index body.strength main .overview .cont .top-sec-title:after {
    top: 78px;
  }
}

body.strength main .overview .cont dl {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border-bottom: 1px solid #d5c1ae;
}

@media only screen and (max-width: 767px) {
  body.strength main .overview .cont dl {
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
  }
}

body.strength main .overview .cont dl dt {
  width: 22.5%;
  background-color: #f8f2ec;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding: 23px 40px;
  border-top: 1px solid #d5c1ae;
}

@media only screen and (max-width: 767px) {
  body.strength main .overview .cont dl dt {
    width: 100%;
    padding: 13px 0 13px 15px;
  }
}

@media all and (-ms-high-contrast: none) {
  body.strength main .overview .cont dl dt {
    padding-top: 28px;
  }
}

body.strength main .overview .cont dl dd {
  width: calc(100% - 22.5%);
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding: 24px 30px 24px 40px;
}

@media only screen and (min-width: 768px) {
  body.strength main .overview .cont dl dd {
    border-top: 1px solid #d5c1ae;
  }
}

@media only screen and (max-width: 767px) {
  body.strength main .overview .cont dl dd {
    width: 100%;
    padding: 13px 15px;
    line-height: 1.714285714;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media all and (-ms-high-contrast: none) {
  body.strength main .overview .cont dl dd {
    padding-top: 29px;
  }
}

@media only screen and (min-width: 768px) {
  body.strength main .overview .cont dl dd ul li:nth-child(n + 2) {
    margin-top: 16px;
  }
}

body.strength main .profile {
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile {
    padding-bottom: 50px;
  }
}

body.strength main .profile .top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .top-wrapper {
    flex-direction: column;
  }
}

body.strength main .profile .top-wrapper .img-cont {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .top-wrapper .img-cont {
    width: 100%;
  }
}

body.strength main .profile .top-wrapper .text-cont {
  width: 57%;
}

@media only screen and (min-width: 768px) {
  body.strength main .profile .top-wrapper .text-cont {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .top-wrapper .text-cont {
    width: 100%;
  }
}

body.strength main .profile .bottom-wrapper {
  margin-top: 53px;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper {
    margin-top: 33px;
  }
}

body.strength main .profile .bottom-wrapper .inner {
  width: 100%;
}

body.strength main .profile .bottom-wrapper .cont {
  display: flex;
  justify-content: space-between;
  padding: 48px 80px;
  background-color: #f8f2ec;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body.strength main .profile .bottom-wrapper .cont {
    border-left: 2px solid #d3553c;
  }
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper .cont {
    flex-direction: column;
    padding: 30px 29px 35px;
    border-top: 2px solid #d3553c;
  }
}

body.strength main .profile .bottom-wrapper .cont:nth-child(n + 2) {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper .cont:nth-child(n + 2) {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  body.strength main .profile .bottom-wrapper .cont:nth-child(odd) {
    margin-left: -60px;
  }

  body.strength main .profile .bottom-wrapper .cont:nth-child(even) {
    margin-left: 60px;
  }
}

body.strength main .profile .bottom-wrapper .cont .left-box {
  width: 51%;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper .cont .left-box {
    width: 100%;
  }
}

body.strength main .profile .bottom-wrapper .cont .left-box h4 {
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  line-height: 1.909090909;
  color: #d3553c;
  font-weight: 500;
  margin-bottom: 18px;
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper .cont .left-box h4 {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.764705882;
    margin-bottom: 20px;
  }
}

body.strength main .profile .bottom-wrapper .cont .left-box h4 span {
  font-weight: bold;
}

body.strength main .profile .bottom-wrapper .cont .left-box p {
  margin-top: 19px;
}

@media only screen and (device-aspect-ratio: 139 / 199) {
  body.strength main .profile .bottom-wrapper .cont .left-box p {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  body.strength main .profile .bottom-wrapper .cont .right-box {
    width: 40.7%;
    margin-left: 21px;
  }
}

@media only screen and (max-width: 767px) {
  body.strength main .profile .bottom-wrapper .cont .right-box {
    width: 100%;
  }
}

@media only screen and (max-width: 767px){
  body.strength main .overview .inner {
    width: calc(100% - 50px);
  }
}

body.strength main .overview .sec-title {
  align-items: flex-start;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sns-share-sticky__list {
  z-index: 30;
  position: fixed;
  top: 250px;
  left: 100px;
  list-style-type: none !important;
  font-size: 32px;
}

@media only screen and (max-width: 1000px) {
  .sns-share-sticky__list {
    left: 50px;
    font-size: 26px;
  }
}

.sns-share-sticky__list .twitter-button {
  color: #1da1f2;
  font-size: inherit;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 30px;
}

.sns-share-sticky__list .youtube-button {
  color: red;
  font-size: inherit;
  font-weight: bold; 
}

.o-video {
  height: 0;
  position: relative;
  margin: 10px 40px 50px;
  padding-top: 56.25%;
  width: calc(100% - 80px);
}
.o-video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.about .mv-inner img {
  width: 100%;
  height: 100%;
}

.left_title {
  font-size: 32px!important;
}

.about main .overview p {
  font-size: 24px;
  line-height: 2.6;
  color: var(--color3);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

body.about main .facility ul h4 {
  text-align: center;
}

body.about main .facility ul p {
  color: var(--color3);
}

body.about main .facility ul h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  /* color: var(--color3); */
}

body.about main .facility ul .sub-title {
  color: var(--color3);
  text-align: center;
  font-size: 1.2rem;
}

.about main .rule p {
  font-size: 18px;
  color: var(--color3);
  line-height: 1.6;
  margin-bottom: 36px;
  padding: 0 10px;
}

.about main .rule .title {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

.about main .privacy p {
  font-size: 18px;
  color: var(--color3);
  line-height: 1.6;
  margin-bottom: 36px;
  padding: 0 10px;
}

.about main .privacy .title {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

.blog-big-title {
  text-align: center;
  max-width: 750px;
  font-size: 24px;
  margin: 0 auto 20px;
  padding: 20px 0;
  color: var(--color4);
  background-color: var(--color3);
}

.blog-item {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  margin-bottom: 1.75rem;
  box-sizing: border-box;
}

.blog-item .blog-image {
  display: flex;
  width: calc(50% - 2rem);
  margin-right: 2rem;
  justify-content: center;
  align-items: start;
}

.blog-item .blog-image img {
  width: 100%;
  /* object-fit: cover; */
  /* object-position: right; */
}

.blog-item .blog-info {
  width: calc(50% - 2rem);
  display: flex;
  flex-direction: column;
}

.blog-item .blog-info .blog-title {
  color: var(--color4);
  background-color: var(--color7);
  font-size: 22px;
  text-align: center;
  padding: 5px 0;
}

.blog-item .blog-info .blog-content {
  margin-top: 1rem;
  padding: 0px 20px;
  color: var(--color3);
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}

body.about main .blog {
  background-color: var(--color8);
  padding: 20px 0 10px;
}

body.about main .overview .inner {
  margin-bottom: 30px;
}

body.about main .price_info .wrap {
  max-width: 640px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #E86293;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color4);
}

body.about main .price_info .wrap .price_title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 24px;
}

body.about main .price_info .wrap .price_content {
  width: 60%;
  margin: 25px auto 30px;
  border: var(--color4) solid 3px;
  text-align: center;
}

body.about main .price_info .wrap .price_content .price_month {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}

body.about main .price_info .wrap .price_content .price_month em {
  font-size: 17px;
}

body.about main .price_info .wrap .price_content .price_tip {
  margin-bottom: 20px;
  font-size: 17px;
}

body.about main .blog {
  margin-top: 50px;
  margin-bottom: 30px;
}

body.about main .blog .btn {
  margin-bottom: 30px;
}

body.about main .schedule {
  margin: 70px auto 0;
  text-align: center;
}

body.about main .schedule .schedule_title {
  font-size: 24px;
  color: var(--color7);
  text-align: center;
  margin-bottom: 30px;
}

body.about main .faq {
  /* max-width: 750px; */
  margin: 70px auto 30px;
}

.faq-big-title {
  text-align: center;
  width: 80%;
  font-size: 24px;
  margin: 0 auto 20px;
  padding: 20px 0;
  color: var(--color4);
  background-color: var(--color3);
}

body.about main .questions-wrapper {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

body.about main .questions-wrapper .question-list:first-of-type .question {
  margin-top: 45px;
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list:first-of-type .question {
    margin-top: 30px;
  }
}

body.about main .questions-wrapper .question-list .question {
  background-color: #f8f2ec;
  border-radius: 1000px;
  display: flex;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  body.about main .questions-wrapper .question-list .question {
    align-items: center;
    padding: 21px 39px 21px 0;
  }
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .question {
    border-radius: 10px;
    padding: 16px 0;
  }
}

body.about main .questions-wrapper .question-list .question:before {
  content: '';
  display: inline-block;
  background-image: url(../images/faq/question.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  body.about main .questions-wrapper .question-list .question:before {
    width: 8%;
    height: 40px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .question:before {
    width: 16.9230769%;
    height: 30px;
    margin-left: 9px;
    background-image: url(../images/faq/question-sp.png);
  }
}

body.about main .questions-wrapper .question-list .question p {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 2.125;
  width: calc(100% - 8%);
  margin-right: 50px;
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .question p {
    width: calc(100% - 16.9230769%);
    line-height: 1.625;
    margin-right: 36px;
  }
}

@media all and (-ms-high-contrast: none) {
  body.about main .questions-wrapper .question-list .question p {
    padding-top: 5px;
  }
}

body.about main .questions-wrapper .question-list .question .icon {
  position: relative;
}

body.about main .questions-wrapper .question-list .question .icon:before {
  content: '';
  width: 26px;
  height: 1px;
  background-color: #c9171e;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  transition: transform 0.3s;
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .question .icon:before {
    width: 15px;
    right: 15px;
  }
}

body.about main .questions-wrapper .question-list .question .icon:after {
  content: '';
  width: 26px;
  height: 1px;
  background-color: #c9171e;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  transition: transform 0.3s;
  transform: rotate(90deg) scaleX(1);
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .question .icon:after {
    width: 15px;
    right: 15px;
  }
}

body.about main .questions-wrapper .question-list .answer {
  display: flex;
  align-items: center;
  margin-top: 22px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .answer {
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 10px;
  }
}

body.about main .questions-wrapper .question-list .answer:before {
  content: '';
  display: inline-block;
  background-image: url(../images/faq/answer.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  body.about main .questions-wrapper .question-list .answer:before {
    width: 8%;
    height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .answer:before {
    background-image: url(../images/faq/answer-sp.png);
    width: 16.9230769%;
    height: 30px;
    margin-left: 6px;
  }
}

body.about main .questions-wrapper .question-list .answer p {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 2.133333333;
  width: calc(100% - 8%);
}

@media only screen and (min-width: 768px) {
  body.about main .questions-wrapper .question-list .answer p {
    padding-right: 45px;
  }
}

@media only screen and (max-width: 767px) {
  body.about main .questions-wrapper .question-list .answer p {
    line-height: 1.733333333;
  }
}

@media all and (-ms-high-contrast: none) {
  body.about main .questions-wrapper .question-list .answer p {
    padding-top: 5px;
  }
}

body.about main .questions-wrapper .question-list .answer p a {
  color: #d3553c;
  border-bottom: 1px solid #d3553c;
  font-weight: bold;
}

body.about main .questions-wrapper .question-list .answer p a:hover {
  opacity: 0.7;
}

body.about main .questions-wrapper .toggle-wrapper {
  display: none;
}

body.about main .questions-wrapper .question-list.is-open .icon:after {
  transform: rotate(90deg) scaleX(0);
}

body.about main #studyon {
  position: relative;
  top: -100px;
  display: block;
}

.blog-item .blog-image-1 {
  display: flex;
  width: calc(50% - 2rem);
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}